name: (disabled)

on:
  workflow_dispatch:

jobs:
  disabled:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Disabled in favor of .github/workflows/gh-pages.yml"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
